#tcv {
    width: 100%;
    margin-top: 1%;
    padding: 2%;
    background-color: rgba(7, 7, 7, 0.5);
    border: 2px solid lime;
    font-size: 100pt;
}

.jcv {
    text-align: center;
    font-size: 25pt;
    color: aliceblue;
    padding-bottom: 2%;
    text-decoration: underline;
}

.profilcv {
    width: 20%;
}

.namacv {
    width: 70%;
    color: aliceblue;
    font-size: 10pt;
}

.hubcv {
    text-decoration: underline;
}

.fcv {
    border: 2px solid lime;
    border-radius: 7%;
    width: 50%;
    margin-left: 30%;
}

.ncv {
    color: aliceblue;
    font-size: 20pt;
}

.isicv {
    margin-left: 6.5%;
    color: aliceblue;
}

.hcv {
    font-size: 15pt;
    text-decoration: underline;
}

.jurusanp {
    font-style: italic;
}

#footer {
    width: 100%;
    margin-top: 1%;
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.5);
    border: 2px solid lime;
    font-size: 100pt;
    color: aliceblue;
    text-align: center;
}

#back {
    position: fixed;
    bottom: 4%;
    right: 2%;
    padding: 10px;
    width: 6%;
}